<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chat.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2277C2361FA01F8D0060478F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FB66E41F7F483B007A4888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FB66FD1F7F483B007A4888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FB67081F7F483B007A4888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
